
.card {
	width: 100%;
	max-height: 45vh;
}

.card.club {
	background-color: rgb(255, 221, 136);
}
.card.team {
	background-color: rgb(104, 246, 123);
}
.card .content {
	text-overflow: ellipsis;
}

.card .is-4by3 img {
	/* card image */
}

.card .card-content {
	height: 50%;
}

.card .subtitle {
	color : red;
}