.Card {
	width: 100%;
	height: 100%;
}

.Card.club {
	background-color: var(--color-secondary);
}

.Card .card-image-box {
	height: 30%;
	padding-top: 5%;
}

.Card .image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 100%;
}

.Card .card-content {
	height: 70%;
}

.Card .heading {
	margin-bottom: 10px;
	text-transform: capitalize;
	font-weight: 800;
}

.Card .heading .name {
	font-size: 1.3em;
}

.Card .heading .team-owner {
	font-size: 1.1em;
	color: var(--color-main);
}

.Card .address {
	font-size: 0.7em;
	color: var(--color-grey);
	margin-bottom: 10px;
}

.Card .description,
.Card .sport {
	font-size: 0.9em;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40%;
}

@media screen and (max-width: 1100px) {
	.cards-container.grid {
		width: 90%;
	}
}

@media screen and (max-width: 1100px) and (min-width: 650px) {
	.Card {
		min-width: 250px;
		margin: auto;
	}
	.Card .heading {
		/* font-size: 0.8em; */
		overflow: hidden;
	}
	.Card .address {
		/* font-size: 0.7em; */
	}
	.Card .description,
	.Card .sport {
		/* font-size: 0.8em; */
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 650px) {
	.Card {
		max-width: 250px;
		margin: auto;
	}

	.Card .heading .name {
		/* font-size: 1.2em; */
	}

	.Card .heading .team-owner {
		/* font-size: 0.9em; */
		color: var(--color-main);
	}

	.Card .address {
		/* font-size: 0.8em; */
		color: var(--color-grey);
	}

	.Card .description,
	.Card .sport {
		height: 30%;
		/* font-size: 0.9em; */
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width: 500px) {
	.cards-container.grid {
		width: 100%;
	}

/* 	.Card .heading .name {
		font-size: 1.4em;
	}

	.Card .heading .team-owner {
		font-size: 1em;
	}

	.Card .address {
		font-size: 0.8em;
	} */
}
