/* SIGN UP PAGE --------------------------  */

.Signup .radio {
  width: 30vw;
}
.Signup .radio-inputs {
  margin-bottom: 3%;
  width: 100%;
  justify-content: space-between;
}

.Signup .radio-inputs input {
  margin-right: 5%;
}

/* FORM SIGN UP ------------------------------- */

.FormSignup {
  width: 70%;
  margin: auto;
  padding: 3%;
}

.Signup .content {
  margin: 5% auto 0;
}

.FormSignup .form-section-bottom,
.FormSignup .btn-signup {
  margin: 6% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FormSignup.Player {
  border: 5px solid #00d1b2;
}
.FormSignup.Club {
  border: 5px solid #bd6877;
}

.email {
  padding-left: 40px;
  padding-top: 8px;
}

@media screen and (max-width: 650px) {
  .FormSignup {
    width: 100%;
  }
  .Signup .radio {
    margin-bottom: 4%;
  }
}

/* FORMS --------------------------  */

.other {
  margin: 20px auto 0;
}

.has-name {
  margin-bottom: 30px;
}

.preview {
  width: 50%;
  margin: 0 auto 30px;
}

.field-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inter-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.addTraining {
  margin-bottom: 30px;
}

.delete-btn {
  text-align: center;
  padding: 20px;
}

.delete-btn span {
  font-size: 0.5rem;
}

.delete-btn svg {
  color: rgb(247, 92, 92);
}

/* ADD PLAYER FORM --------------- */
#checkbox-player {
  margin-bottom: 30px;
}

.checkbox-image {
  height: 30px;
}
