.navbar {
	background-color: var(--color-secondary);
	height: var(--nav-height);
	z-index: 100;
}

.navbar .link:hover {
	cursor: pointer;
}

.navbar #welcome-msg {
	color: var(--color-main);
}

#logo {
	color: var(--color-main);
	font-family: var(--font-logo);
	font-size: 1.7em;
	text-shadow:grey 0.7px .7px .5px;
}

.navbar .navbar-menu {
	width: fit-content;
	position: absolute;
	right: 1%;
	padding-left: 5px;
	padding-right: 5px;
}

.navbar .navbar-item {
	text-align: right;
}

.navbar-brand {
	justify-content: space-between;
}
.navbar-burger {
	height: var(--nav-height);
}


@media screen and (min-width: 1024px) {
.navbar .navbar-menu .navbar-end{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--nav-height);
}
}