.NavMain {
	/* display: flex; */
	background-color: var(--color-secondary);
	/* align-items: center; */
	height: var(--nav-height);
	z-index: 100;
	padding: 2% 1% 1%;
}

.NavMain .link:hover {
	cursor: pointer;
}

.NavMain #welcome-msg {
	color: var(--color-main);
}

#logo {
	color: var(--color-main);
	font-family: var(--font-logo);
	font-size: 1.7em;
	text-shadow: black 1px 1px 1px 1px;
}

.NavMain .navbar-menu {
	width: fit-content;
	position: absolute;
	right: 1%;
}

.NavMain .navbar-item {
	text-align: right;
}


.navbar-brand {
  justify-content: space-between;
}