.container-nav {
}
.NavMain {
	/* display: flex; */
	background-color: var(--color-secondary);
	align-items: center;
	height: var(--nav-height);
	z-index: 100;
	padding: 1%;
}
/* 
.NavMain .nav-list {
	margin-left: auto;
	display: flex;
}

.NavMain .nav-list li:not(:last-child) {
	margin-right: 20px;
}
*/

.NavMain .link:hover {
	cursor: pointer;
}

.NavMain #welcome-msg {
	color: var(--color-main);
}

#logo {
	color: var(--color-main);
	font-family: var(--font-logo);
	font-size: 2.5em;
}
