.SearchBar {
	width: 100%;
	margin: 20px 0;
}

.SearchBar p.label {
	margin-right: 2%;
	font-weight: 700;
}

.Filter .control {
	margin-bottom: 5%;
}

.delete-filters {
	margin-left: 10px;
}


.Filter .practice  {
	display: flex;
	justify-content: space-between;
}
.Filter .radio {
	width: 50%;
}

.Filter .radio input {
	margin-right: 4%;
}
