/* COLORS */

:root {
  --color-main: #209983;
  --color-secondary: #d5ebe749;
  --color-grey: #a1a1a1;
}

/* SIZES */
/* height */
:root {
  --nav-height: 9vh;
  --footer-height: 10%;
  --footer-position: -10%;
}

/* width */


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --font-logo: 'Pacifico', cursive;
  /* --font-titles: ; */
  --font-content: 'Montserrat', sans-serif;;
}